/* Captured @font-face rules. */
@font-face{font-family:Phonic;font-style:normal;font-weight:400;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/Phonic-Regular.rs68d82b0a45e41dac.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:italic;font-weight:400;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/Phonic-RegularItalic.rsd8abd554689061cd.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:normal;font-weight:300;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/RHPhonic-Light.rsc10d5b3f98693644.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:italic;font-weight:300;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/RHPhonic-LightItalic.rs5d300aea6abb509d.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:normal;font-weight:500;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/RHPhonic-Medium.rs9afffd46329d3c8b.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:italic;font-weight:500;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/RHPhonic-MediumItalic.rsacadaee820e756ab.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:normal;font-weight:700;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/Phonic-Bold.rs2d2473b21443979c.woff2)format("woff2")}

@font-face{font-family:Phonic;font-style:italic;font-weight:700;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/Phonic-BoldItalic.rs790f53669d85c3bc.woff2)format("woff2")}

@font-face{font-family:Phonic-Windows;font-style:normal;font-weight:400;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/RHPhonic-RegularTTF.rs7de18f50530922fb.woff2)format("woff2")}

@font-face{font-family:Phonic-Windows;font-style:normal;font-weight:700;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/RHPhonic-BoldTTF.rsd9c2b224f280f2b5.woff2)format("woff2")}

@font-face{font-family:Capsule;font-style:normal;font-weight:400;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/CapsuleSansText-Book.rsf3366ad084c94801.woff2)format("woff2")}

@font-face{font-family:Capsule;font-style:italic;font-weight:400;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/CapsuleSansText-BookItalic.rs1c14997ca3d89a63.woff2)format("woff2")}

@font-face{font-family:Capsule;font-style:normal;font-weight:700;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/CapsuleSansText-Bold.rs7d67ca246d59a638.woff2)format("woff2")}

@font-face{font-family:Capsule;font-style:italic;font-weight:700;src:url(/cdn.robinhood.com/assets/generated_assets/black-widow/CapsuleSansText-BoldItalic.rs09667cfe5231928f.woff2)format("woff2")}